# ignore the binary files
kslibs
shit/
# ignore the .vscode folder
.vscode
.config.kslibs
bashCMD
# ignore the obj/ folder with the object files
obj/
src/*.h.gch
*.h.gch
.silentCMD
# ignore the testing.py file
testing.py 
